<link rel="stylesheet" href="/stylesheets/partials/header.css">
<script src="https://cdn.tailwindcss.com"></script>
<header>
    <nav>
        <h1 class="text-3xl my-auto mx-auto text-white">HomePage</h1>
        <div class="my-auto mx-auto">
            <button class="mx-20 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><a href="/login">login</a></button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><a href="/singup">singup</a></button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"><a href="/logout">logout</a></button>

        </div>
    </nav>
</header>